<a href="https://colab.research.google.com/github/astrrr/ML-Lab/blob/main/Lab2ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.feature_selection import chi2

**2.1 Data exploration**



*   Read .csv file

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/srivatsan88/YouTubeLI/master/dataset/churn_data_st.csv",sep=",")

In [4]:
df

      customerID  gender  SeniorCitizen  ...  MonthlyCharges  TotalCharges Churn
0     7590-VHVEG  Female              0  ...           29.85         29.85    No
1     5575-GNVDE    Male              0  ...           56.95       1889.50    No
2     3668-QPYBK    Male              0  ...           53.85        108.15   Yes
3     7795-CFOCW    Male              0  ...           42.30       1840.75    No
4     9237-HQITU  Female              0  ...           70.70        151.65   Yes
...          ...     ...            ...  ...             ...           ...   ...
7038  6840-RESVB    Male              0  ...           84.80       1990.50    No
7039  2234-XADUH  Female              0  ...          103.20       7362.90    No
7040  4801-JZAZL  Female              0  ...           29.60        346.45    No
7041  8361-LTMKD    Male              1  ...           74.40        306.60   Yes
7042  3186-AJIEK    Male              0  ...          105.65       6844.50    No

[7043 rows x 10 columns]



*   Remove customerID

In [5]:
del df['customerID']

In [6]:
df

      gender  SeniorCitizen  tenure  ...  MonthlyCharges TotalCharges Churn
0     Female              0       1  ...           29.85        29.85    No
1       Male              0      34  ...           56.95      1889.50    No
2       Male              0       2  ...           53.85       108.15   Yes
3       Male              0      45  ...           42.30      1840.75    No
4     Female              0       2  ...           70.70       151.65   Yes
...      ...            ...     ...  ...             ...          ...   ...
7038    Male              0      24  ...           84.80      1990.50    No
7039  Female              0      72  ...          103.20      7362.90    No
7040  Female              0      11  ...           29.60       346.45    No
7041    Male              1       4  ...           74.40       306.60   Yes
7042    Male              0      66  ...          105.65      6844.50    No

[7043 rows x 9 columns]



*   View Variable info

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   tenure            7043 non-null   int64
 3   ServiceCount      7043 non-null   int64
 4   Contract          7043 non-null   object
 5   PaperlessBilling  7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7016 non-null   float64
 8   Churn             7043 non-null   object
dtypes: float64(2), int64(3), object(4)
memory usage: 495.3+ KB



*   Fill NA

In [8]:
TotalCharges_medians = df['TotalCharges'].median()
print(TotalCharges_medians)

1397.1

In [10]:
df['TotalCharges'].fillna(TotalCharges_medians,inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   tenure            7043 non-null   int64
 3   ServiceCount      7043 non-null   int64
 4   Contract          7043 non-null   object
 5   PaperlessBilling  7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   float64
 8   Churn             7043 non-null   object
dtypes: float64(2), int64(3), object(4)
memory usage: 495.3+ KB



   **2.2 Remove variables with High Variable Correlation**


*   Create data frame of continuous data coloumns